@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  padding: 0 1.8rem;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
body::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: hsl(207deg, 33%, 95%);
  border-bottom-left-radius: 5rem;
  z-index: -1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  padding: 3rem 0;
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .nav {
    padding: 4rem 0;
  }
}
.nav__logo {
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (min-width: 480px) {
  .nav__logo {
    width: 2rem;
    height: 2rem;
  }
}
.nav .menu__checkbox {
  position: fixed;
  top: -100px;
  left: -100px;
}
.nav .menu__checkbox:not(:checked) ~ .menu__hamburger {
  background-image: url(./images/icon-hamburger.svg);
}
.nav .menu__checkbox:not(:checked) ~ .menu__item-container {
  display: none;
}
@media screen and (min-width: 480px) {
  .nav .menu__checkbox:not(:checked) ~ .menu__item-container {
    display: flex;
  }
}
.nav .menu__checkbox:checked ~ .menu__hamburger {
  background-image: url(./images/icon-close.svg);
}
.nav .menu__checkbox:checked ~ .menu__item-container {
  display: flex;
}
.nav .menu__checkbox:focus-visible ~ .menu__hamburger {
  outline: 2px solid;
}
@media screen and (min-width: 480px) {
  .nav .menu__checkbox {
    display: none;
  }
}
.nav .menu__hamburger {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: center/contain no-repeat;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .nav .menu__hamburger {
    display: none;
  }
}
.nav .menu__item-container {
  position: absolute;
  padding: 1.8rem;
  top: 100%;
  left: 0;
  right: 0;
  flex-direction: column;
  gap: 1.8rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3137254902);
  list-style: none;
}
@media screen and (min-width: 480px) {
  .nav .menu__item-container {
    position: unset;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    gap: 2.2rem;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }
}
.nav .menu__divider {
  width: 100%;
  border-top: 1px solid hsl(207deg, 33%, 95%);
  border-left: 1px solid hsl(207deg, 33%, 95%);
}
@media screen and (min-width: 480px) {
  .nav .menu__divider {
    width: 0.75ch;
    height: 0.75ch;
    border: none;
    border-radius: 50%;
    background-color: hsl(231deg, 7%, 65%);
  }
}
.nav .menu__item {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1ch;
  margin: 0 auto;
  cursor: pointer;
}
.nav .menu__item:hover {
  text-decoration: underline;
}
.nav .menu__item--primary {
  color: hsl(230deg, 29%, 20%);
}
.nav .menu__item--secondary {
  color: hsl(231deg, 7%, 65%);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media screen and (min-width: 480px) {
  .main {
    flex-direction: row-reverse;
    align-items: center;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    gap: 0;
  }
}

.picture {
  height: 15rem;
}
@media screen and (min-width: 480px) {
  .picture {
    width: 50%;
    height: unset;
  }
}
.picture__svg {
  margin-left: -22px;
}
@media screen and (min-width: 480px) {
  .picture__svg {
    margin-left: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 480px) {
  .content {
    width: 50%;
  }
}
.content .title-small {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  text-transform: uppercase;
}
.content .title-small__new {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(207deg, 33%, 95%);
  padding: 0.25ch 1.5ch;
  border-radius: 50px;
  background-color: hsl(230deg, 29%, 20%);
}
.content .title-small__main {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(231deg, 7%, 65%);
  letter-spacing: 0.5ch;
}
.content .title-large {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .content .title-large {
    font-size: 4rem;
  }
}
.content__text {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(230deg, 11%, 40%);
}
.content__button-container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .content__button-container {
    margin-top: 3rem;
  }
}
.content__button {
  white-space: nowrap;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
  overflow-wrap: break-word;
  padding: 1.5ch 3ch;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .content__button {
    padding: 2ch 4ch;
  }
}
.content__button--primary {
  background-color: hsl(0deg, 100%, 68%);
  color: hsl(207deg, 33%, 95%);
}
.content__button--primary:hover {
  opacity: 0.5;
}
.content__button--secondary {
  background-color: transparent;
  color: hsl(231deg, 7%, 65%);
  letter-spacing: 0.25ch;
}
@media screen and (min-width: 480px) {
  .content__button--secondary {
    letter-spacing: 0.5ch;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.footer__text {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: hsl(231deg, 7%, 65%);
}
.footer__text a {
  color: hsl(230deg, 29%, 20%);
}/*# sourceMappingURL=style.css.map */