@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-container {
  padding: 2.2rem 1.8rem;
  position: relative;
}
@media screen and (min-width: 480px) {
  .nav-container {
    padding: 3rem 1.8rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}
.nav__logo {
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (min-width: 480px) {
  .nav__logo {
    width: 2rem;
    height: 2rem;
  }
}
.nav .menu__checkbox {
  position: fixed;
  top: -100px;
  left: -100px;
}
.nav .menu__checkbox:not(:checked) ~ .menu__hamburger {
  background-image: url(./images/icon-hamburger.svg);
}
.nav .menu__checkbox:not(:checked) ~ .menu__item-container {
  display: none;
}
@media screen and (min-width: 480px) {
  .nav .menu__checkbox:not(:checked) ~ .menu__item-container {
    display: flex;
  }
}
.nav .menu__checkbox:checked ~ .menu__hamburger {
  background-image: url(./images/icon-close.svg);
}
.nav .menu__checkbox:checked ~ .menu__item-container {
  display: flex;
}
.nav .menu__checkbox:focus-visible ~ .menu__hamburger {
  outline: 2px solid;
}
@media screen and (min-width: 480px) {
  .nav .menu__checkbox {
    display: none;
  }
}
.nav .menu__hamburger {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: center/contain no-repeat;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .nav .menu__hamburger {
    display: none;
  }
}
.nav .menu__item-container {
  position: absolute;
  margin: 0 1.8rem;
  padding: 1.8rem;
  top: 100%;
  left: 0;
  right: 0;
  flex-direction: column;
  gap: 1.8rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3137254902);
  list-style: none;
}
@media screen and (min-width: 480px) {
  .nav .menu__item-container {
    position: unset;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    gap: 2.2rem;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }
}
.nav .menu__divider {
  width: 100%;
  border-top: 1px solid hsl(207deg, 33%, 95%);
  border-left: 1px solid hsl(207deg, 33%, 95%);
}
@media screen and (min-width: 480px) {
  .nav .menu__divider {
    width: 0.75ch;
    height: 0.75ch;
    border: none;
    border-radius: 50%;
    background-color: hsl(231deg, 7%, 65%);
  }
}
.nav .menu__item {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1ch;
  margin: 0 auto;
  cursor: pointer;
}
.nav .menu__item:hover {
  text-decoration: underline;
}
.nav .menu__item--primary {
  color: hsl(230deg, 29%, 20%);
}
.nav .menu__item--secondary {
  color: hsl(231deg, 7%, 65%);
}

.footer__text {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
  color: hsl(231deg, 7%, 65%);
}
.footer__text a {
  color: hsl(230deg, 29%, 20%);
}/*# sourceMappingURL=style.css.map */