@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

@mixin ff-con-400 {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 400;
}

@mixin ff-con-700 {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 700;
}

@mixin ff-reg-400 {
	font-family: "Barlow", sans-serif;
	font-weight: 400;
}

// VARIABLES

// ### primary
$c-p-red: hsl(0, 100%, 68%);
// ### neutral
$fc-very-dark: hsl(230, 29%, 20%);
$fc-dark: hsl(230, 11%, 40%);
$fc-gray: hsl(231, 7%, 65%);
$fc-light: hsl(207, 33%, 95%);

$gap-m: 1rem;
$gap-l: 1.8rem;
$gap-xl: 2.2rem;
$gap-xxl: 3rem;

$fs-xs: 0.75rem;
$fs-s: 0.9rem;
$fs-m: 1rem;
$fs-l: 1.2rem;
$fs-xxl: 2.6rem;

// RESET

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	height: 100%;
	object-fit: cover;
}

// STYLES

body {
	position: relative;
	min-height: 100vh;

	&::after {
		position: absolute;
		content: "";
		height: 50%;
		width: 50%;
		top: 0;
		right: 0;
		border-bottom-left-radius: 5rem;
		background-color: $fc-light;
		z-index: -1;
	}
}

.nav-container {
	padding: $gap-xl $gap-l;
	position: relative;
}

.nav {
	display: flex;
	justify-content: space-between;

	@media screen and (min-width: 480px) {
		max-width: 70rem;
		margin: 0 auto;
	}

	&__logo {
		width: 1.5rem;
		height: 1.5rem;
		margin: auto 0;

		@media screen and (min-width: 480px) {
			width: 2rem;
			height: 2rem;
		}
	}

	.menu {
		&__checkbox {
			position: fixed;
			top: -100px;
			left: -100px;

			&:not(:checked) ~ .menu__hamburger {
				background-image: url(./images/icon-hamburger.svg);
			}
			&:not(:checked) ~ .menu__item-container {
				display: none;

				@media screen and (min-width: 480px) {
					display: flex;
				}
			}

			&:checked ~ .menu__hamburger {
				background-image: url(./images/icon-close.svg);
			}
			&:checked ~ .menu__item-container {
				display: flex;
			}

			&:focus-visible ~ .menu__hamburger {
				outline: 2px solid;
			}

			@media screen and (min-width: 480px) {
				display: none;
			}
		}

		&__hamburger {
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			background: center / contain no-repeat;
			cursor: pointer;

			@media screen and (min-width: 480px) {
				display: none;
			}
		}

		&__item-container {
			position: absolute;
			margin: 0 $gap-l;
			padding: $gap-l;
			top: 100%;
			left: 0;
			right: 0;
			flex-direction: column;
			align-items: center;
			gap: $gap-l;
			background-color: white;
			border-radius: 5px;
			box-shadow: 0 0.5rem 1rem 0 #00000050;
			list-style: none;

			@media screen and (min-width: 480px) {
				position: unset;
				margin: 0;
				padding: $gap-l 0;
				flex-direction: row;
				gap: $gap-xl;
				background-color: transparent;
				border-radius: 0;
				box-shadow: none;
			}
		}

		&__divider {
			width: 100%;
			border-top: 1px solid $fc-light;
			border-left: 1px solid $fc-light;

			@media screen and (min-width: 480px) {
				width: 0.75ch;
				height: 0.75ch;
				border: none;
				border-radius: 50%;
				background-color: $fc-gray;
			}
		}

		&__item {
			@include ff-con-700;
			text-transform: uppercase;
			font-size: $fs-l;
			letter-spacing: 0.1ch;
			margin: 0 auto;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

			&--primary {
				color: $fc-very-dark;
			}

			&--secondary {
				color: $fc-gray;
			}
		}
	}
}

.picture {
	height: 18rem;
	padding: $gap-l;
	padding-right: unset;
	width: 100%;
	overflow: hidden;

	&__svg {
		margin-left: -20px;
	}
}

.content {
	padding: $gap-xl $gap-l;
	display: flex;
	flex-direction: column;
	gap: $gap-m;

	.title-small {
		@include ff-con-400;
		text-transform: uppercase;
		font-size: $fs-m;
		display: flex;
		flex-wrap: wrap;
		gap: $gap-m;

		&__new {
			background-color: $fc-very-dark;
			border-radius: 15px;
			padding: 0.25ch 1.5ch;
			color: $fc-light;
		}

		&__main {
			letter-spacing: 0.5ch;
			color: $fc-gray;
		}
	}

	.title-large {
		@include ff-con-700;
		text-transform: uppercase;
		font-size: $fs-xxl;
		color: $fc-very-dark;
	}

	&__text {
		@include ff-reg-400;
		font-size: $fs-l;
		color: $fc-dark;
	}

	&__button-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	&__button {
		flex-grow: 1;
		cursor: pointer;
		font-size: $fs-m;
		text-transform: uppercase;
		border: none;
		padding: 1.5ch 1.5ch;
		border-radius: 5px;

		@include ff-con-700;
		&--primary {
			background-color: $c-p-red;
			color: $fc-light;
		}

		&--secondary {
			@include ff-con-400;
			background-color: transparent;
			color: $fc-gray;
			letter-spacing: 0.15ch;
		}
	}
}

.footer {
	&__text {
		@include ff-con-400;
		font-size: $fs-xs;
		text-align: center;
		color: $fc-gray;
	}

	&__text a {
		color: $fc-very-dark;
	}
}
